
<div class="announce-bar">
    <div class="container">
        <div class="anbar-in">
            <p>🔥 {{ section.settings.heading }} 🔥</p>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Announcement",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Announcement bar text"
    }
  ],
  "presets": [
    {
      "name": "announcement",
      "category": "Custom"
    }
  ]
}
{% endschema %}