<footer class="footer">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="ft-in">
                <div class="fcolm-first">
                    <div class="footer-logo">
                        <a href="">
                            <img src="https://cdn.shopify.com/s/files/1/0602/5075/1185/files/hey-you-pups-logo.png?v=1733850931" alt="">
                        </a>
                    </div>
                    <div class="footer-brand-desc">
                        <p>HeyYouPups is THE brand of new generation pet accessories. With us, it's style and solidity every day! </p>
                    </div>
                    <div class="footer-email">
                        <p class="label">email</p>
                        <p class="data"><a href="mailto:info@heyyoupups.com">info@heyyoupups.com</a></p>
                    </div>
                </div>
                <div class="fcolm-sec">
                    <div class="footer-nav">
                        <div class="fnav-item">
                            <p class="label">shop</p>
                            <div class="footernav-in">
                                <ul>
                                    <li><a href="">Best Sellers</a></li>
                                    <li><a href="">New Arrivals</a></li>
                                    <li><a href="">Sale</a></li>
                                    <li><a href="">Bundles</a></li>
                                    <li><a href="">Harnesses</a></li>
                                    <li><a href="">Collars</a></li>
                                    <li><a href="">Bowties</a></li>
                                    <li><a href="">Leads</a></li>
                                    <li><a href="">Poo Bags</a></li>
                                    <li><a href="">Shop All</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="fnav-item">
                            <p class="label">about</p>
                            <div class="footernav-in">
                                <ul>
                                    <li><a href="">About Us</a></li>
                                    <li><a href="">Size Guide</a></li>
                                    <li><a href="">Affiliates</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="fnav-item">
                            <p class="label">help</p>
                            <div class="footernav-in">
                                <ul>
                                    <li><a href="">Contact Us</a></li>
                                    <li><a href="">Refund Policy</a></li>
                                    <li><a href="">Shipping Policy</a></li>
                                    <li><a href="">Privacy Policy</a></li>
                                    <li><a href="">Terms of Services</a></li>
                                    <li><a href="">Dog Accessories Disclaimer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fcolm-third">
                    <div class="fcolt-in">
                        <div class="subscribe">
                            <h5>Sign Up and Save!</h5>
                            <p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>
                        </div>
                        <div class="footer-social">
                            <div class="fsocial-in">
                                <div class="fs-item">
                                    <a href="">
                                        <img src="" alt="">
                                    </a>
                                </div>
                                <div class="fs-item">
                                    <a href="">
                                        <img src="" alt="">
                                    </a>
                                </div>
                                <div class="fs-item">
                                    <a href="">
                                        <img src="" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="fb-in">
                <div class="fbin-left">
                    <p> <span><img src="https://cdn.shopify.com/s/files/1/0602/5075/1185/files/Group_1041.svg?v=1734242951" alt=""></span>HeyYouPups. All rights reserved.</p>
                </div>
                <div class="fbin-right">
                    <p>Designed by <a href="">StudioTwo42</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>